
ConfinedGas
{
        #sqlFile ConfinedGas_weak.sqlite;
        #sbfFile ConfinedGas_weak_00000032.sbf;
        setupRun 0;
        path /simdata/ja42rica/vtk_out;

        simulationDomain <2500, 2500, 2000>;
        blocks < 8, 8, 4>;
        isPeriodic < 0, 0, 0 >;

        radius 0.4;
        spacing 5;
        vMax 500

        warmupSteps 0;
        simulationSteps 1000;
        visSpacing 10;

        dt 5e-5;
}
